# Base de dados MovieLens

In [1]:
import pandas as pd 
import numpy as np

In [2]:
filmes = []
for linha in open("data/ml-100k/u.item", encoding = "ISO-8859-1"):
    (id, titulo) = linha.split('|')[0:2]
    filmes.append({
        "id": id,
        "titulo": titulo
    })

df_filmes = pd.DataFrame(filmes)
print(df_filmes.shape)
df_filmes.head()

(1682, 2)

  id             titulo
0  1   Toy Story (1995)
1  2   GoldenEye (1995)
2  3  Four Rooms (1995)
3  4  Get Shorty (1995)
4  5     Copycat (1995)

In [3]:
base = []
for linha in open("data/ml-100k/u.data", encoding = "ISO-8859-1"):
    (usuario, id_filme, avaliacao, tempo) = linha.split("\t")
    base.append({
        "usuario": usuario,
        "id_filme": id_filme,
        "avaliacao": avaliacao
    })

df_aval = pd.DataFrame(base)
print(df_aval.shape)
df_aval.head()

(100000, 3)

  usuario id_filme avaliacao
0     196      242         3
1     186      302         3
2      22      377         1
3     244       51         2
4     166      346         1

In [32]:
df = df_filmes.merge(df_aval, left_on="id", right_on="id_filme", how="right").drop(["id", "id_filme"], axis=1)
df = df.astype({"avaliacao": "float"})

print(df.shape)
df.head()

(100000, 3)

                       titulo usuario  avaliacao
0                Kolya (1996)     196        3.0
1    L.A. Confidential (1997)     186        3.0
2         Heavyweights (1994)      22        1.0
3  Legends of the Fall (1994)     244        2.0
4         Jackie Brown (1997)     166        1.0

In [33]:
df_base = df.drop_duplicates(subset=["usuario", "titulo"])

df_base = df_base.pivot(index="usuario", columns="titulo", values="avaliacao").reset_index()
print(df_base.shape)
df_base.head()

(943, 1665)

titulo,usuario,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
0,1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
1,10,NaN,NaN,NaN,5.0,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,101,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
def distancia_euclidiana(x_i: np.array, y_i: np.array) -> float:
    return (sum((x_i - y_i)**2))**(0.5)

def similaridade(x_i: np.array, y_i: np.array) -> float:
    return 1/(1+ distancia_euclidiana(x_i, y_i))

def similaridade_df(item_1: str, item_2: str, coluna: str, base: pd.DataFrame) -> float:
    df = base.loc[base[coluna].isin([item_1, item_2])]
    df = df.dropna(axis=1)
    
    x_i = df.loc[df[coluna]==item_1].drop(coluna, axis=1).values[0]
    y_i = df.loc[df[coluna]==item_2].drop(coluna, axis=1).values[0]

    return similaridade(x_i, y_i)

def similaridade_por_item(item: str, coluna: str, base: pd.DataFrame, limite: float = 0.6) -> float:
    similaridades = {
            item_2: similaridade_df(item, item_2, coluna, base) 
            for item_2 in base[base[coluna]!=item][coluna].unique()
    }
    return {item: value for item, value in similaridades.items() if value >= limite}

In [63]:
similaridade_por_item("1", "usuario", df_base)

{'155': 1.0, '418': 1.0, '812': 1.0}

In [65]:
similaridade_por_item("101 Dalmatians (1996)", "titulo", df_base.set_index("usuario").T.reset_index(), limite=0.9)

{'8 Heads in a Duffel Bag (1997)': 1.0,
 'A Chef in Love (1996)': 1.0,
 'Aiqing wansui (1994)': 1.0,
 'All Over Me (1997)': 1.0,
 'All Things Fair (1996)': 1.0,
 'American Dream (1990)': 1.0,
 'Angel Baby (1995)': 1.0,
 'Angel on My Shoulder (1946)': 1.0,
 'Angus (1995)': 1.0,
 'Anna (1996)': 1.0,
 'Apostle, The (1997)': 1.0,
 'Awfully Big Adventure, An (1995)': 1.0,
 'Ayn Rand: A Sense of Life (1997)': 1.0,
 'B*A*P*S (1997)': 1.0,
 'B. Monkey (1998)': 1.0,
 'Bad Girls (1994)': 1.0,
 'Band Wagon, The (1953)': 1.0,
 'Baton Rouge (1988)': 1.0,
 'Beans of Egypt, Maine, The (1994)': 1.0,
 'Before the Rain (Pred dozhdot) (1994)': 1.0,
 'Best Men (1997)': 1.0,
 'Best of the Best 3: No Turning Back (1995)': 1.0,
 'Bewegte Mann, Der (1994)': 1.0,
 'Bhaji on the Beach (1993)': 1.0,
 'Big Bang Theory, The (1994)': 1.0,
 'Big One, The (1997)': 1.0,
 'Bitter Sugar (Azucar Amargo) (1996)': 1.0,
 "Blood For Dracula (Andy Warhol's Dracula) (1974)": 1.0,
 'Boxing Helena (1993)': 1.0,
 "Boy's Life 2 (1997)": 1.0,
 'Boys, Les (1997)': 1.0,
 "Brother's Kiss, A (1997)": 1.0,
 'Brothers in Trouble (1995)': 1.0,
 'Buddy (1997)': 1.0,
 'Butcher Boy, The (1998)': 1.0,
 'Butterfly Kiss (1995)': 1.0,
 'Bye Bye, Love (1995)': 1.0,
 "C'est arrivé près de chez vous (1992)": 1.0,
 'Careful (1992)': 1.0,
 'Caro Diario (Dear Diary) (1994)': 1.0,
 'Carpool (1996)': 1.0,
 'Carrington (1995)': 1.0,
 'Century (1993)': 1.0,
 'Chairman of the Board (1998)': 1.0,
 'Chasers (1994)': 1.0,
 'Children of the Revolution (1996)': 1.0,
 'City of Industry (1997)': 1.0,
 'Clean Slate (1994)': 1.0,
 'Clean Slate (Coup de Torchon) (1981)': 1.0,
 'Coldblooded (1995)': 1.0,
 'Collectionneuse, La (1967)': 1.0,
 'Colonel Chabert, Le (1994)': 1.0,
 'Commandments (1997)': 1.0,
 'Condition Red (1995)': 1.0,
 'Cosi (1996)': 1.0,
 'Country Life (1994)': 1.0,
 'Crossfire (1947)': 1.0,
 'Cure, The (1995)': 1.0,
 'Cyclo (1995)': 1.0,
 'Cérémonie, La (1995)': 1.0,
 'Dadetown (1995)': 1.0,
 'Daens (1992)': 1.0,
 'Damsel in Distress, A (1937)': 1.0,
 "Daniel Defoe's Robinson Crusoe (1996)": 1.0,
 'Death in Brunswick (1991)': 1.0,
 'Death in the Garden (Mort en ce jardin, La) (1956)': 1.0,
 'Desert Winds (1995)': 1.0,
 'Designated Mourner, The (1997)': 1.0,
 'Destiny Turns on the Radio (1995)': 1.0,
 'Double Happiness (1994)': 1.0,
 'Double vie de Véronique, La (Double Life of Veronique, The) (1991)': 1.0,
 'Dream Man (1995)': 1.0,
 'Dream With the Fishes (1997)': 1.0,
 'Drunks (1995)': 1.0,
 'Duoluo tianshi (1995)': 1.0,
 'Eighth Day, The (1996)': 1.0,
 "Enfer, L' (1994)": 1.0,
 'Entertaining Angels: The Dorothy Day Story (1996)': 1.0,
 'Etz Hadomim Tafus (Under the Domin Tree) (1994)': 1.0,
 'Even Cowgirls Get the Blues (1993)': 1.0,
 "Eye of Vichy, The (Oeil de Vichy, L') (1993)": 1.0,
 'Farmer & Chase (1995)': 1.0,
 'Fatal Instinct (1993)': 1.0,
 'Favor, The (1994)': 1.0,
 'Fear, The (1995)': 1.0,
 'Fille seule, La (A Single Girl) (1995)': 1.0,
 'Fire on the Mountain (1996)': 1.0,
 'Flesh and Bone (1993)': 1.0,
 'Four Days in September (1997)': 1.0,
 'Frankie Starlight (1995)': 1.0,
 'Fresh (1994)': 1.0,
 'Full Speed (1996)': 1.0,
 'Further Gesture, A (1996)': 1.0,
 'Germinal (1993)': 1.0,
 'Getting Away With Murder (1996)': 1.0,
 "Gilligan's Island: The Movie (1998)": 1.0,
 'Girl in the Cadillac (1995)': 1.0,
 'Girls Town (1996)': 1.0,
 'Glass Shield, The (1994)': 1.0,
 'Golden Earrings (1947)': 1.0,
 'Grosse Fatigue (1994)': 1.0,
 'Guantanamera (1994)': 1.0,
 'Hana-bi (1997)': 1.0,
 'Hard Eight (1996)': 1.0,
 'He Walked by Night (1948)': 1.0,
 'Head Above Water (1996)': 1.0,
 'Hear My Song (1991)': 1.0,
 'Here Comes Cookie (1935)': 1.0,
 'Horse Whisperer, The (1998)': 1.0,
 'Hostile Intentions (1994)': 1.0,
 'Hugo Pool (1997)': 1.0,
 'Hungarian Fairy Tale, A (1987)': 1.0,
 'Hunted, The (1995)': 1.0,
 'Hush (1998)': 1.0,
 'I, Worst of All (Yo, la peor de todas) (1990)': 1.0,
 'Ill Gotten Gains (1997)': 1.0,
 'Incognito (1997)': 1.0,
 'Inkwell, The (1994)': 1.0,
 'Intimate Relations (1996)': 1.0,
 'Invitation, The (Zaproszenie) (1986)': 1.0,
 'Jerky Boys, The (1994)': 1.0,
 'Johns (1996)': 1.0,
 'Killer (Bulletproof Heart) (1994)': 1.0,
 'Killer: A Journal of Murder (1995)': 1.0,
 'King of New York (1990)': 1.0,
 'Lady of Burlesque (1943)': 1.0,
 'Ladybird Ladybird (1994)': 1.0,
 'Lamerica (1994)': 1.0,
 'Land and Freedom (Tierra y libertad) (1995)': 1.0,
 'Lashou shentan (1992)': 1.0,
 'Last Summer in the Hamptons (1995)': 1.0,
 'Last Time I Committed Suicide, The (1997)': 1.0,
 'Leading Man, The (1996)': 1.0,
 'Legal Deceit (1997)': 1.0,
 'Letter From Death Row, A (1998)': 1.0,
 'Liebelei (1933)': 1.0,
 'Line King: Al Hirschfeld, The (1996)': 1.0,
 'Little City (1998)': 1.0,
 'Love & Human Remains (1993)': 1.0,
 'Love Is All There Is (1996)': 1.0,
 'MURDER and murder (1996)': 1.0,
 'Mad Dog Time (1996)': 1.0,
 'Madame Butterfly (1995)': 1.0,
 'Magic Hour, The (1998)': 1.0,
 'Mamma Roma (1962)': 1.0,
 'Man from Down Under, The (1943)': 1.0,
 'Man of No Importance, A (1994)': 1.0,
 'Marlene Dietrich: Shadow and Light (1996) ': 1.0,
 "Mat' i syn (1997)": 1.0,
 'Mediterraneo (1991)': 1.0,
 'Men With Guns (1997)': 1.0,
 'Men of Means (1998)': 1.0,
 'Mighty, The (1998)': 1.0,
 'Modern Affair, A (1995)': 1.0,
 'Month by the Lake, A (1995)': 1.0,
 'Mostro, Il (1994)': 1.0,
 'Mr. Jones (1993)': 1.0,
 'Mrs. Dalloway (1997)': 1.0,
 'My Crazy Life (Mi vida loca) (1993)': 1.0,
 'My Favorite Season (1993)': 1.0,
 'Naked (1993)': 1.0,
 'Naked in New York (1994)': 1.0,
 'Nelly & Monsieur Arnaud (1995)': 1.0,
 'Nemesis 2: Nebula (1995)': 1.0,
 'New Age, The (1994)': 1.0,
 'New Jersey Drive (1995)': 1.0,
 'Newton Boys, The (1998)': 1.0,
 'Next Step, The (1995)': 1.0,
 'Niagara, Niagara (1997)': 1.0,
 'Night Flier (1997)': 1.0,
 'Nightwatch (1997)': 1.0,
 'Nil By Mouth (1997)': 1.0,
 'Nina Takes a Lover (1994)': 1.0,
 'No Escape (1994)': 1.0,
 'Nobody Loves Me (Keiner liebt mich) (1994)': 1.0,
 'Normal Life (1996)': 1.0,
 'Nothing Personal (1995)': 1.0,
 'Nowhere (1997)': 1.0,
 'Office Killer (1997)': 1.0,
 'Other Voices, Other Rooms (1997)': 1.0,
 'Outlaw, The (1943)': 1.0,
 'Paradise Road (1997)': 1.0,
 'Penny Serenade (1941)': 1.0,
 "Pharaoh's Army (1995)": 1.0,
 'Police Story 4: Project S (Chao ji ji hua) (1993)': 1.0,
 'Ponette (1996)': 1.0,
 'Price Above Rubies, A (1998)': 1.0,
 'Prisoner of the Mountains (Kavkazsky Plennik) (1996)': 1.0,
 'Promesse, La (1996)': 1.0,
 'Promise, The (Versprechen, Das) (1994)': 1.0,
 'Pushing Hands (1992)': 1.0,
 'Quartier Mozart (1992)': 1.0,
 'Quiet Room, The (1996)': 1.0,
 'Raw Deal (1948)': 1.0,
 'Reluctant Debutante, The (1958)': 1.0,
 'Rendezvous in Paris (Rendez-vous de Paris, Les) (1995)': 1.0,
 'Ripe (1996)': 1.0,
 'Romper Stomper (1992)': 1.0,
 'Rough Magic (1995)': 1.0,
 'Ruby in Paradise (1993)': 1.0,
 'Run of the Country, The (1995)': 1.0,
 'Safe (1995)': 1.0,
 'Safe Passage (1994)': 1.0,
 'Saint of Fort Washington, The (1993)': 1.0,
 'Salut cousin! (1996)': 1.0,
 'Santa with Muscles (1996)': 1.0,
 'Savage Nights (Nuits fauves, Les) (1992)': 1.0,
 'Schizopolis (1996)': 1.0,
 'Scream of Stone (Schrei aus Stein) (1991)': 1.0,
 'Senseless (1998)': 1.0,
 'Shadows (Cienie) (1988)': 1.0,
 'Shooter, The (1995)': 1.0,
 'Shooting Fish (1997)': 1.0,
 'Shopping (1994)': 1.0,
 'Show, The (1995)': 1.0,
 'Silence of the Palace, The (Saimt el Qusur) (1994)': 1.0,
 'Simple Wish, A (1997)': 1.0,
 'Sleepover (1995)': 1.0,
 'Sliding Doors (1998)': 1.0,
 'Slingshot, The (1993)': 1.0,
 'Small Faces (1995)': 1.0,
 'So Dear to My Heart (1949)': 1.0,
 "Some Mother's Son (1996)": 1.0,
 "Someone Else's America (1995)": 1.0,
 'Spanish Prisoner, The (1997)': 1.0,
 'Star Kid (1997)': 1.0,
 'Stars Fell on Henrietta, The (1995)': 1.0,
 'Strawberry and Chocolate (Fresa y chocolate) (1993)': 1.0,
 'Substance of Fire, The (1996)': 1.0,
 'Sudden Manhattan (1996)': 1.0,
 'Sunchaser, The (1996)': 1.0,
 'Surviving the Game (1994)': 1.0,
 'Suture (1993)': 1.0,
 'Symphonie pastorale, La (1946)': 1.0,
 'T-Men (1947)': 1.0,
 'Tainted (1998)': 1.0,
 'Target (1995)': 1.0,
 'Temptress Moon (Feng Yue) (1996)': 1.0,
 'Terror in a Texas Town (1958)': 1.0,
 'The Courtyard (1995)': 1.0,
 'The Innocent (1994)': 1.0,
 'Thieves (Voleurs, Les) (1996)': 1.0,
 'Three Lives and Only One Death (1996)': 1.0,
 'Three Wishes (1995)': 1.0,
 'Tigrero: A Film That Was Never Made (1994)': 1.0,
 'To Cross the Rubicon (1991)': 1.0,
 'To Have, or Not (1995)': 1.0,
 'To Live (Huozhe) (1994)': 1.0,
 'Tokyo Fist (1995)': 1.0,
 'Tom & Viv (1994)': 1.0,
 'Total Eclipse (1995)': 1.0,
 'Tough and Deadly (1995)': 1.0,
 'Touki Bouki (Journey of the Hyena) (1973)': 1.0,
 'Traveller (1997)': 1.0,
 'Truman Show, The (1998)': 1.0,
 'Truth or Consequences, N.M. (1997)': 1.0,
 'Turning, The (1992)': 1.0,
 'Twilight (1998)': 1.0,
 'Twisted (1996)': 1.0,
 'Two Friends (1986) ': 1.0,
 'U.S. Marshalls (1998)': 1.0,
 'Underground (1995)': 1.0,
 'Underneath, The (1995)': 1.0,
 'Underworld (1997)': 1.0,
 'Unzipped (1995)': 1.0,
 'Vermont Is For Lovers (1992)': 1.0,
 'Vie est belle, La (Life is Rosey) (1987)': 1.0,
 'Visitors, The (Visiteurs, Les) (1993)': 1.0,
 'Walk in the Sun, A (1945)': 1.0,
 'War Room, The (1993)': 1.0,
 'War at Home, The (1996)': 1.0,
 'Wedding Bell Blues (1996)': 1.0,
 'Welcome To Sarajevo (1997)': 1.0,
 "Wend Kuuni (God's Gift) (1982)": 1.0,
 'What Happened Was... (1994)': 1.0,
 "White Man's Burden (1995)": 1.0,
 'Wife, The (1995)': 1.0,
 'Window to Paris (1994)': 1.0,
 'Wings of Courage (1995)': 1.0,
 'Witness (1985)': 1.0,
 'Woman in Question, The (1950)': 1.0,
 'Wonderful, Horrible Life of Leni Riefenstahl, The (1993)': 1.0,
 'Yankee Zulu (1994)': 1.0,
 'Á köldum klaka (Cold Fever) (1994)': 1.0}